<?xml version="1.0"?>
<launch>

  <!-- Run a passthrough filter to clean NaNs -->
  <node pkg="nodelet" type="nodelet" name="passthrough" args="load pcl/PassThrough nodelet_manager" output="screen">
    <remap from="~input" to="/full_cloud2" />
    <remap from="~output" to="/filtered_cloud2" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.05
      filter_limit_max: 3.0
      filter_limit_negative: False
      input_frame: /base_link
    </rosparam>
  </node>
  
  <!-- convert from PointCloud2 to PointCloud1 -->
  <node name="point_cloud_converter_filtered_cloud" pkg="point_cloud_converter" type="point_cloud_converter" args="points2_in:=/filtered_cloud2 points_out:=/filtered_cloud" respawn="false" output="screen" />
  
</launch>
